@import './variables.scss';

.svg {
  contain: strict;
  stroke-width: 0px;
  background-color: transparent;
}

.blob {
  fill: $primary;
}

.frame {
  height: 33vw;
}

.illustration {
  position: relative;
  width: 100%;
  height: 100%;
  top: -33vw;
  z-index: 2;
}

@media screen and (max-width: 48em) {
  .frame {
    height: 80vw;
  }

  .illustration {
    top: -80vw;
  }
}
