@import './variables.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: auto;

  button {
    all: unset;
    cursor: pointer;
  }

  section {
    background: $surface;
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }

    .xpLinks {
      display: flex;
      flex-direction: row;

      a {
        font-size: 0.8rem;
        font-weight: 400;
        color: $textSubtle;
        text-transform: uppercase;
        padding: 0 10px;

        &:first-child {
          border-right: 2px solid $text;
          @media screen and (max-width: 45em) {
            border: none;
          }
        }

        &:hover {
          color: $primary;
        }

        svg {
          margin-right: 5px;
        }
      }

      @media screen and (max-width: 45em) {
        flex-direction: column;
      }
    }
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    transition: all ease 0.2s;

    .chevron {
      font-size: 30px;
      transition: all ease 0.2s;
      transform: rotate(-90deg);
    }

    .dot {
      transition: all ease 0.2s;
      width: 10px;
      height: 10px;
      background-color: $background;
      border: solid 2px $primary;
      border-radius: 10px;
      margin-left: -8px;
      flex-shrink: 0;
    }

    .date {
      text-align: right;
    }

    .titleRight {
      border-left: $primary 2px solid;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 20px;
      padding-right: 20px;
    }

    .job {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 15px 0;

      .jobTitle {
        display: flex;
        flex-direction: row;
      }

      h3 {
        margin: 0 10px;

        &::after {
          content: ' -';
        }
      }

      h4 {
        margin: 0;
      }
    }

    &:hover {
      background-color: $surface;

      .dot {
        background-color: $primary;
      }
    }
  }

  &.expanded {
    .title {
      background-color: $surface;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .chevron {
        transform: rotate(90deg);
      }

      .dot {
        background-color: $primary;
      }

      &:hover {
        background-color: $surface;
      }
    }
  }

  .content {
    border-left: $primary solid 2px;
    padding: 10px 20px;
    margin: 0 20px;

    p {
      margin-top: 0;
    }

    .technos {
      li {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px 10px;
        background: $primary;
        color: $onPrimary;
        border-radius: 3px;
        line-height: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 70em) {
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 60em) {
  .card {
    width: 100%;
    .title {
      .job {
        .jobTitle {
          flex-direction: column;

          h3::after {
            content: '';
          }

          h4 {
            margin: 0 10px;
          }
        }
      }
    }
  }
}
