@import './variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background;
  z-index: 20;
  box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.1);

  .content {
    height: $headerHeight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: $horizontalPadding;
    padding-left: $horizontalPadding;

    .headerLogo {
      display: flex;
      flex-direction: row;
      align-items: center;

      .logoText {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-family: var(--font-jakarta);

        :first-child {
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0.6px;
        }
        :last-child {
          font-size: 25px;
          font-weight: 300;
        }
      }
    }

    .rightMenu {
      margin-left: 100px;

      .hamburger {
        display: none;
      }
    }

    nav {
      align-self: center;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          padding: 5px 15px;
          font-size: 1.1rem;

          a {
            position: relative;
          }

          &.active a {
            color: $primary;
          }

          a::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 4px;
            background-color: $primary;
            bottom: -5px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
          }

          a:hover::before,
          &.active a::before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 56em) {
  .header .content {
    nav {
      position: fixed;
      right: -100%;
      top: $headerHeight;
      background-color: $background;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;

      ul {
        flex-direction: column;
      }
    }

    nav.active {
      right: 0;

      li {
        font-size: 1.3rem;
        margin: 10px;
      }
    }

    .rightMenu {
      margin-left: 0;

      .hamburger {
        display: inline;
        cursor: pointer;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 25em) {
  .header .content .headerLogo .logoText {
    display: none;
  }
}
