@import './variables.scss';

.progressBlock {
  flex-grow: 1;

  .progressTitle {
    font-size: 1rem;
    margin: 8px 0;
  }

  .progressBar {
    height: 10px;
    max-width: 300px;
    background: $background;
    border: 1px solid $surfaceLight;
    border-radius: 6px;

    .progressFill {
      height: 8px;
      background: $primary;
      border: 1px solid $primary;
      border-radius: 5px;
    }
  }
}
