.skillSection {
  padding-bottom: 100px;
  .padding {
    padding-top: 20px;
    @media screen and (min-width: 53em) {
      padding-top: 50px;
    }
    @media screen and (min-width: 64em) {
      padding-top: 100px;
    }
  }
}

.logo {
  filter: grayscale(100%);
  transition: all 0.3s ease;
  opacity: 0.8;
}

.logo:hover {
  filter: none;
  opacity: 1;
}

.logoFrame {
  display: inline-block;
  height: 64px;
}

.logoFrame:hover {
  position: relative;
  top: -1px;
  transition: all 0.2s ease;
}

.progressTitle {
  font-size: 1rem;
  margin: 8px 0;
}

.progressBar {
  height: 12px;
  max-width: 300px;
  background: #e0e0e0;
  border-radius: 6px;

  .progressFill {
    height: 12px;
    background: linear-gradient(180deg, #4ec417 0%, #35a500 100%);
    border-radius: 6px;
    transition: all 0.4s ease;
  }
}
