$primary: #56ab2b;
$background: #121614;
$surface: #1c201e;
$surfaceLight: #353937;
$text: #e2e2e2;
$textSubtle: #b2b3b2;
$onPrimary: #112209;
$horizontalPadding: max(50px, calc(100vw - 1800px) / 2);
$verticalPadding: 50px;
$headerHeight: 58px;
