@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-sans.min.css");

html, body {
  max-width: 1800px;
  padding: 0;
  margin: 0;
}

.o-0 {
  opacity: 0;
  transition: all 0.2s ease;
}

html, button, body, .pure-g, .pure-g [class *= "pure-u"] {
  font-family: -apple-system, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: normal;
}

main {
  width: auto;
  margin: auto;
  padding: 0 50px;
}

section {
  width: 100%;
}

h1 {
  font-family: 'Plus Jakarta Display';
  color: black;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: 'Plus Jakarta Display';
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #414141;
  margin: 0 10px;
}

.sectionTitle {
  display: flex;
  flex-direction: row;
}

.separationLine {
  border-bottom: .2rem solid #9E9E9E;
  flex-grow: 1;  position: relative;
  top: -0.3rem;

  &.small {
    width: 2rem;
    flex-grow: 0;
  }
}

#front, #database {
  display: flex;
  flex-direction: row-reverse;

  .sectionTitle {
    flex-direction: row-reverse;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #616161;
  text-transform: uppercase;
}

.small {
  font-size: 1rem;
}

.legend {
  font-size: 0.9rem;
  color: #404040;
  text-transform: uppercase;
  margin: 8px 0;
}