@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css');
@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-sans.min.css');

html,
body {
  max-width: 1800px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.o-0 {
  opacity: 0;
  transition: all 0.2s ease;
}

html,
button,
body,
.pure-g,
.pure-g [class*='pure-u'],
a,
a:visited {
  font-family: -apple-system, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: normal;
  color: #363636;
  text-decoration: none;
}

a:hover {
  color: #202020;
}

main {
  width: auto;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

section {
  width: 100%;
  padding: 50px;

  @media screen and (max-width: 60em) {
    padding: 20px;
  }
}

h1 {
  font-family: 'Plus Jakarta Display';
  color: black;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: 'Plus Jakarta Display';
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #414141;
  margin: 0 10px;
}

.sectionTitle {
  display: flex;
  flex-direction: row;
}

.separationLine {
  border-bottom: 0.2rem solid #9e9e9e;
  flex-grow: 1;
  position: relative;
  top: -0.3rem;

  &.small {
    width: 2rem;
    flex-grow: 0;
  }
}

@media screen and (min-width: 48em) {
  #design,
  #back,
  #devops {
    display: flex;
    flex-direction: row-reverse;

    .sectionTitle {
      flex-direction: row-reverse;
    }
  }
}

#experience,
#home {
  background-color: #f5f5f5;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #363636;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #363636;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #616161;
  text-transform: uppercase;
  margin: 0;
}

.small {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.legend {
  font-size: 0.9rem;
  color: #404040;
  text-transform: uppercase;
  margin: 8px 0;
}

#home {
  overflow: hidden;
  padding-bottom: 200px;
}

#about,
#skills {
  background-color: white;
}

.green {
  color: #4ec317;
}
